<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>quiz</title>
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='style.css') }} "
    />
    <style></style>
    <script src=" {{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <main>
      <h1>Quiz</h1>
      <h2 id="question"></h2>
      <div id="options"></div>
      <div>Questions correct: <span id="correct">0 of 0</span></div>
    </main>
  </body>
</html>
